<p>add-teacher works!</p>
<div class="container w-50  border shadow mt-5">
    <form [formGroup]="teacherForm"  (ngSubmit)="add2()">
       
        <div class="mb-3">
          <label for="id1" class="form-label">class</label>
          <input type="text" class="form-control" id="id1"  name="class" formControlName="class">
        </div>
        <div class="mb-3">
            <label for="id2" class="form-label">teacher Name</label>
            <input type="text" class="form-control" id="id2" name="tname" formControlName="tname">
          </div>
          <div class="mb-3">
            <label for="id3" class="form-label">student count</label>
            <input type="text" class="form-control" id="id3" name="studv" formControlName="studv">
          </div>
       
        <button type="submit" class="btn btn-primary" >submit</button>
      </form>
    </div>